useDynLib(beadarray)

import(Biobase)
import(graphics)

exportClasses(beadLevelData, ExpressionSetIllumina, illuminaChannel)
exportMethods(show, "[[", dim, sectionNames, numBeads, boxplot, exprs, se.exprs)

export(insertBeadLevelData, getBeadData, plotChipLayout, createTargetsFile,  plotBeadIntensities, genericBeadIntensityPlot, poscontPlot, quickSummary, getAnnotation, setAnnotation, sectionLevelSummary, illuminaOutlierMethod, beadStatusVector, insertSectionData, plotBeadLocations, calculateOutlierStats, controlProbeDetection, backgroundCorrectSingleSection)


## Data input
export(readIllumina, readLocsFile, convertBeadLevelList)

## Raw image manipulation
export(readTIFF, plotTIFF)

## Transformations
export(logGreenChannelTransform, logRedChannelTransform, logRatioTransform)

## QC
export(outlierplot, imageplot, checkRegistration, makeQCTable, expressionQCPipeline)

## BASH etc.
export(BASH, HULK, generateNeighbours, BASHCompact, BASHDiffuse, BASHExtended, setWeights)

## Deprecated functions.  Included so arrayQualityMetrics doesn't break
exportClasses(BeadLevelList)
exportMethods(arrayNames, getArrayData)
export(createBeadSummaryData)


