useDynLib(beadarray)

import(Biobase)
import(graphics)

importFrom(limma, normalizeQuantiles, neqc)

exportClasses(beadLevelData, ExpressionSetIllumina, illuminaChannel, beadRegistrationData)
exportMethods(show, "[[", dim, sectionNames, numBeads, boxplot, exprs, se.exprs,nObservations,Detection, "se.exprs<-","exprs<-", "nObservations<-", "Detection<-", qcData, combine)

export(insertBeadData, removeBeadData, getBeadData, plotChipLayout, createTargetsFile,  quickSummary, getAnnotation, setAnnotation, summarize, illuminaOutlierMethod, beadStatusVector, insertSectionData, backgroundCorrectSingleSection, beadarrayUsersGuide, checkPlatform)


## Data input
export(readIllumina, readLocsFile, convertBeadLevelList)

## Dealing with Swath data
export(processSwathData)

## Raw image manipulation
export(readTIFF, plotTIFF)

## Image processing
export(illuminaForeground, illuminaBackground, illuminaSharpen, medianBackground)

## Transformations
export(logGreenChannelTransform, logRedChannelTransform, logRatioTransform, greenChannelTransform, redChannelTransform)

## QC
export(plotBeadIntensities, genericBeadIntensityPlot, poscontPlot, outlierplot, imageplot, checkRegistration, makeQCTable, expressionQCPipeline, calculateOutlierStats, controlProbeDetection, plotBeadLocations)

## BASH etc.
export(BASH, HULK, generateNeighbours, BASHCompact, BASHDiffuse, BASHExtended, setWeights,showArrayMask)

## Summary Data
export(readBeadSummaryData, plotMAXY, normaliseIllumina, medianNormalise,calculateDetection)

## Deprecated functions.  Included so arrayQualityMetrics doesn't break
exportClasses(BeadLevelList)



